body {
  background: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body,
form,
div,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
table,
table tr,
table td {
  border: none;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 10px 0;
  color: #000000;
}

.main {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.layout {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.conteiner {
  width: 100%;
  max-width: 1475px;
  margin: 0 auto;
  padding: 0 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 1005;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0;
}

.header--fixed {
  background: #FBC715;
  padding: 24px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 120px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
}

.header__logo:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

.header__logo span {
  font-size: 16px;
  line-height: 19px;
}

.header__nav {
  width: 50%;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list__item a {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.nav-list__item a:hover {
  text-decoration: underline;
}

section.home {
  padding: 17% 0 7% 0;
  position: relative;
  z-index: 2;
}

section.home:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: -55px;
  left: calc(50% - 30px);
  width: calc(50% + 30px);
  height: 100%;
  background: #FBC715;
}

section.home:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/home-bg.png);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: bottom right 5%;
}

.home__wrapper {
  width: 100%;
}

.home__heading {
  position: relative;
  z-index: 3;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.home__heading h1 {
  font-size: 40px;
  padding: 0 0 26px 0;
}

.home__heading p {
  max-width: 560px;
  font-size: 24px;
  line-height: 35px;
  text-align: left;
}

.home__sub {
  height: 100%;
  width: 50%;
  margin-left: 50%;
  background-color: #FBC715;
}

.home__nav {
  position: relative;
  z-index: 2;
  max-width: 345px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home__nav:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #FFFFFF;
}

.home__nav ul {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0 30px;
  padding: 0;
  background: #FBC715;
}

.home__nav li {
  width: 100%;
  margin: 0 auto 18px auto;
  padding: 0 10px;
}

.home__nav li a {
  width: 100%;
  text-align: left;
  text-decoration: none;
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
}

.home__nav li a:hover {
  text-decoration: underline;
}

.social {
  position: absolute;
  z-index: 5;
  top: 165px;
  left: 30px;
}

.social-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-list li {
  max-width: 50px;
  margin-bottom: 20px;
}

.social-list li a svg {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.social-list li a:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.subtitle {
  padding: 0;
  margin-bottom: 45px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}

.info {
  padding: 60px 0 50px 0;
}

.slick-slide {
  outline: none;
}

.slider-info .slick-prev {
  z-index: 1001;
  left: 150px;
  width: 44px;
  height: 38px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  top: 45%;
}

.slider-info .slick-prev:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider-info .slick-prev:before {
  content: '';
  padding: 5px 15px;
  background-image: url(../images/left.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1001;
  opacity: 1;
}

.slider-info .slick-next {
  z-index: 1001;
  right: 150px;
  width: 44px;
  height: 38px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  top: 45%;
}

.slider-info .slick-next:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider-info .slick-next:before {
  content: '';
  padding: 5px 15px;
  background-image: url(../images/right.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1001;
  opacity: 1;
}

.slider-item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-flow: row nowrap !important;
          flex-flow: row nowrap !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.info-item {
  max-width: 422px;
  min-width: 422px;
  padding: 40px 50px;
  -webkit-box-shadow: 0px 6px 8px #00000029;
          box-shadow: 0px 6px 8px #00000029;
}

.info-item__title {
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 35px;
}

.info-item p {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.info-item p:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60%;
  height: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #000000;
}

.info-item ul,
.info-item ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.info-item ul li {
  position: relative;
}

.info-item__list-name {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  padding: 0 0 0 30px;
  margin-bottom: 10px;
}

.info-item__list-name:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 13px;
  height: 3px;
  background: #F69E00;
}

.info-item__list-name:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 3px;
  height: 13px;
  background: #F69E00;
}

.info-item__list-inner {
  position: relative;
  display: none;
}

.info-item__list-inner--open {
  display: block;
}

.info-item__list-inner:before {
  content: '';
  position: absolute;
  top: 6%;
  left: 30px;
  height: 88%;
  width: 1px;
  border-left: 1px dashed #7D7D7D;
}

.info-item__list-inner li {
  margin-left: 30px;
  font-size: 16px;
  line-height: 22px;
  padding: 0 0 0 30px;
  margin-bottom: 15px;
}

.behind-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 250px;
  background-image: url(../images/info-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  margin: 13px 0;
}

.behind-item__btn {
  padding: 10px 60px;
  background: #FBC715;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.behind-item__btn:hover {
  opacity: 0.8;
}

.behind-item .behind-logo {
  z-index: 3;
  margin-bottom: 85px;
  margin-left: 15px;
}

.behind-logo {
  position: relative;
  max-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
}

.behind-logo:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: -9px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

.behind-logo span {
  font-size: 22px;
  line-height: 26px;
}

.services {
  padding: 50px 0 100px 0;
}

.services-block__head {
  padding: 5px 0 5px 150px;
  position: relative;
  z-index: 1;
}

.services-block__head:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #C3C3C3;
}

.services-block__name {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  line-height: 25px;
  color: #2E2E2E;
  background: #ffffff;
}

.services-block__list {
  padding: 25px 0 15px 0;
  list-style-type: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services-block__list li {
  width: 25%;
  max-width: 275px;
  margin: 25px 0;
}

.services-block__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 19px;
  line-height: 25px;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.services-block__list li a svg {
  width: 130px;
  height: 130px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-bottom: 20px;
}

.services-block__list li a:hover svg {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.portfolio {
  padding: 45px 0 90px 0;
  background: #FAF9F9;
  overflow-x: hidden;
}

.portfolio__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-info {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 350px;
}

.portfolio-info__title {
  padding-bottom: 35px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
}

.portfolio-info__btn {
  display: block;
  text-align: center;
  max-width: 325px;
  width: 100%;
  padding: 13px;
  text-decoration: none;
  border-radius: 7px;
  background: #FBC715;
  font-size: 16px;
  line-height: 22px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.portfolio-info__btn--mobile {
  display: none;
}

.portfolio-info__btn:hover {
  opacity: 0.8;
}

.portfolio-txt {
  font-size: 16px;
  line-height: 22px;
}

.portfolio-list {
  margin: 35px 0;
  padding: 0;
  list-style-type: none;
}

.portfolio-list li {
  margin-bottom: 25px;
}

.portfolio-list li span {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.portfolio-list li span:first-child {
  display: inline-block;
  padding-right: 10px;
  min-width: 100px;
  font-size: 32px;
  line-height: 43px;
  font-weight: 600;
}

.slider-portfolio {
  position: relative;
  margin-left: 40%;
}

.slider-portfolio .slick-prev {
  z-index: 1001;
  left: 310px;
  top: auto;
  bottom: -75px;
  width: 40px;
  height: 32px;
  border: 1px solid #707070;
  opacity: 1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.slider-portfolio .slick-prev:hover {
  background: #FBC715;
}

.slider-portfolio .slick-prev:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/left.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1001;
  opacity: 1;
}

.slider-portfolio .slick-next {
  z-index: 1001;
  top: auto;
  bottom: -75px;
  right: auto;
  left: 390px;
  width: 40px;
  height: 32px;
  border: 1px solid #707070;
  opacity: 1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.slider-portfolio .slick-next:hover {
  background: #FBC715;
}

.slider-portfolio .slick-next:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/right.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1001;
  opacity: 1;
}

.portfolio-item {
  max-width: 695px;
}

.portfolio-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.portfolio-item__info {
  max-width: 330px;
  max-height: 220px;
  width: 50%;
  padding: 20px;
  background: #FBC715;
  margin-right: 33px;
}

.portfolio-item__img {
  max-width: 330px;
  max-height: 220px;
  width: 50%;
}

.portfolio-item__img img {
  line-height: 0;
  width: 100%;
}

.portfolio-item__img-lg {
  margin-top: 33px;
  width: 100%;
}

.portfolio-item__img-lg img {
  line-height: 0;
  width: 100%;
}

.portfolio-item .portfolio-txt {
  max-height: 120px;
  overflow-y: auto;
}

.portfolio-item__name {
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.about-us {
  position: relative;
  padding: 100px 0 50px 0;
}

.about-us__wrapper {
  position: relative;
  height: 100%;
  padding: 40px 0;
}

.about-us__txt-block {
  position: absolute;
  top: 10%;
  z-index: 2;
  margin: 0 5px 0 700px;
  max-width: 895px;
  padding: 25px 105px 30px 65px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 8px #00000029;
          box-shadow: 0px 6px 8px #00000029;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-us__txt-block p {
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 20px;
}

.about-us__txt-block:before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  width: 5px;
  height: 285px;
  background: #FBC715;
}

.about-us__txt-block:after {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  width: 285px;
  height: 5px;
  background: #FBC715;
}

.our-team {
  position: relative;
  top: 0;
  left: 0;
  max-width: 870px;
  padding: 35px 175px 10px 80px;
  background: #F5F5F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-team__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.our-team__list li {
  min-width: 202px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-team__title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  padding-bottom: 30px;
  text-align: center;
}

.our-team__photo {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.our-team__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
}

.our-team__position {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.our-team .behind-logo {
  margin: 0 auto;
  opacity: 0.5;
}

.platform {
  padding: 50px 0 100px 0;
}

.platform__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.platform__social-list {
  max-width: 810px;
  padding: 45px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  list-style-type: none;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.platform__social-list li {
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
  margin: 0 20px 0 0;
}

.platform__social-list li:last-of-type {
  margin: 0;
}

.platform__social-list li a svg {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.platform__social-list li a:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.form-block {
  position: relative;
  padding: 55px 0;
  background: #ffd83f;
}

.form-block:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/form-bg.png);
}

.form {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 1025px;
  max-height: 360px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: -30px;
  padding: 0 30px;
  border: 5px solid #FFFFFF;
}

.form__box {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 580px;
  width: 100%;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form__radio-label {
  position: relative;
  z-index: 3;
  padding: 0 16px 15px 8px;
  margin-left: -8px;
  font-size: 20px;
  font-weight: 25px;
  text-align: left;
  max-width: 210px;
  margin-bottom: 15px;
  background: #ffd83f;
}

.form__radio-label:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 8px;
  height: 1px;
  width: 130px;
  background: #707070;
}

.form__radio-box {
  margin-right: 15px;
}

.form__radio-box span span span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}

.form__radio-box span span span span {
  margin: 0;
}

.form__label {
  display: inline-block;
  padding: 0 16px 0 8px;
  margin-left: -8px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
  position: relative;
  z-index: 3;
  background: #ffd83f;
}

.form__item {
  width: 50%;
  margin-bottom: 18px;
}

.form__item:nth-child(even) {
  margin-left: 30px;
}

.form__item input {
  padding: 13px;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 19px;
}

.form__btn {
  max-width: 205px;
  -webkit-box-shadow: 0px 3px 6px #0000009E;
          box-shadow: 0px 3px 6px #0000009E;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.form__btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0.98);
          transform: translateY(0.98);
}

span.wpcf7-list-item {
  margin: 0;
}

.contact {
  padding: 100px 0;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 105px 25px 105px;
}

.contact__list a {
  display: inline-block;
  color: #242424;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-right: 10px;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.contact__list a:hover {
  text-decoration: underline;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.contact__social {
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__social li {
  margin-right: 27px;
  max-width: 30px;
  max-height: 30px;
}

.contact__social li:nth-last-of-type() {
  margin: 0;
}

.contact__social li a {
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.contact__social li a svg {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.contact__social li a:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.map {
  width: 100%;
}

.map img {
  width: 100%;
}

.footer {
  padding: 30px 0 5px 0;
  background: #515151;
}

.footer__logo {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 120px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
  color: #FFFFFF;
  margin-right: 40px;
}

.footer__logo:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  background-image: url(../images/logo-g.svg);
  background-repeat: no-repeat;
}

.footer__logo span {
  font-size: 16px;
  line-height: 19px;
}

.footer__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__wrapper--col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__contacts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__contacts li {
  margin-bottom: 15px;
}

.footer__contacts li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
}

.footer__contacts li a:hover {
  text-decoration: underline;
}

.footer__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__nav li {
  margin: 0 15px 15px 0;
}

.footer__nav li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
}

.footer__nav li a:hover {
  text-decoration: underline;
}

.footer__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__social li {
  margin: 0 10px 0 0;
}

.footer__social li a {
  padding: 5px 5px 5px 0;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
}

.footer__social li a svg {
  width: 22px;
  height: 22px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.footer__social li a:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.copyright {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  opacity: 0.6;
  color: #FFFFFF;
}

.scrollup {
  width: 55px;
  height: 50px;
  position: fixed;
  z-index: 10;
  bottom: 250px;
  right: 2%;
  display: none;
  background: #FFD83F;
  opacity: 0.8;
}

.scrollup:hover {
  opacity: 1;
}

.scrollup:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../images/uparrow.svg);
  background-repeat: no-repeat;
}

.breadcrumb {
  list-style-type: none;
  margin: 7px 0 5px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.breadcrumb__item {
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.breadcrumb__item--current {
  opacity: 0.5;
}

.breadcrumb__link {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 1;
  padding: 0 35px 0 0;
}

.breadcrumb__link:before {
  content: '';
  position: absolute;
  top: 0;
  right: 5px;
  width: 22px;
  height: 22px;
  background-image: url(../images/right.svg);
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.breadcrumb__link:hover {
  color: #FBC715;
}

div.page {
  padding: 115px 0 0 0;
}

div.page .form {
  margin: 0 auto 0 30px;
}

.page__content {
  padding: 50px 0;
}

.page__title {
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 25px;
  font-weight: 600;
  text-align: center;
}

.page__txt {
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 20px;
}

.service-page .page__txt {
  margin: 0 auto;
  max-width: 695px;
  text-align: center;
}

.slick-dots li.slick-active button:before {
  color: #FBC715;
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 13px;
  color: #FBC715;
}

.call {
  display: none !important;
  max-width: 56px;
}

.call img {
  width: 100%;
}

.btn-more {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.35);
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  text-align: center;
}

.btn-more:hover {
  color: #FBC715;
}

.btn-more:before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  border: 1px solid #707070;
  border-radius: 50%;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FFFFFF;
  background-image: url(../images/down-arrow.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1800px) {
  section.home:after {
    background-position: bottom 1% right 5%;
  }
  .our-team__list li {
    width: 50%;
  }
  .about-us__txt-block {
    left: 235px;
    margin: 0 85px 0 420px;
  }
}

@media screen and (max-width: 1600px) {
  .home__heading {
    padding-left: 40px;
  }
  section.home:after {
    background-position: bottom 4% right 5%;
  }
  .form-block:after {
    background-position: 25%;
  }
}

@media screen and (max-width: 1440px) {
  .form-block:after {
    background-position: 35%;
  }
  .about-us__txt-block {
    margin-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    max-height: 855px;
    overflow-y: auto;
  }
  .about-us__txt-block:before, .about-us__txt-block:after {
    top: 0;
    right: 0;
  }
}

@media screen and (max-width: 1366px) {
  section.home {
    padding: 12% 0 7% 0;
  }
  section.home:after {
    background-position: bottom 6% right 5%;
  }
  .info-item__title {
    text-align: left;
    padding-right: 75px;
  }
  .slider-info .slick-prev {
    top: 65px;
    left: 50%;
  }
  .slider-info .slick-next {
    top: 65px;
    right: auto;
    left: 55%;
  }
  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__list a {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1280px) {
  .services-block__list li a {
    padding: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 1200px) {
  .portfolio-item__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-item__info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 0;
    max-width: 350px;
  }
  .portfolio-item__img {
    margin-top: 33px;
    max-width: 350px;
  }
  .portfolio-item__img-lg {
    max-width: 350px;
  }
  .slider-portfolio .slick-next {
    left: 220px;
  }
  .slider-portfolio .slick-prev {
    left: 100px;
  }
  .slider-portfolio {
    margin-left: 50%;
  }
  .slider-info .slick-next {
    left: 56%;
  }
  .form-block:after {
    background-position: 45%;
  }
  .about-us__txt-block {
    margin: 0 85px 0 330px;
  }
  .our-team__list li {
    padding-right: 0;
    width: 40%;
  }
}

@media screen and (max-width: 1140px) {
  .home__nav {
    bottom: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .slider-info .slick-next {
    left: 58%;
  }
  .footer__main {
    padding: 0 50px;
  }
  .about-us__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-us__txt-block {
    position: relative;
    margin: 0 auto;
    left: auto;
    max-width: 560px;
    min-height: 300px;
    padding: 25px 60px;
    max-height: 100%;
    overflow: visible;
  }
  .about-us__txt-block:before, .about-us__txt-block:after {
    top: -5px;
    right: -5px;
  }
  .our-team {
    max-width: 100%;
    padding: 40px 80px 25px 80px;
  }
  .our-team__list li {
    width: 33%;
  }
  .btn-more {
    display: block;
  }
  .hide {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .contact__list {
    padding: 0 0 25px 0;
  }
  .footer__wrapper {
    width: 65%;
  }
  .footer__wrapper--col {
    width: 35%;
  }
}

@media screen and (max-width: 920px) {
  section.home {
    padding: 192px 0 0 0;
    background-image: url(../images/home-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 120%;
  }
  section.home:after {
    content: '';
    background-image: none;
    z-index: 0;
    display: none;
  }
  section.home:before {
    content: '';
    background-color: rgba(255, 255, 255, 0.9);
    left: auto;
    width: 100%;
  }
  .home__heading {
    width: 100%;
    padding-bottom: 65px;
  }
  .home__nav {
    bottom: auto;
    margin: 0 auto;
  }
  .home__sub {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0 60px 0;
    background-image: url(../images/home-mob.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: top center;
  }
  .social {
    top: 140px;
  }
  .social-list li {
    margin-bottom: 10px;
  }
  .social-list li a svg {
    max-width: 26px;
    max-height: 26px;
  }
  .slider-info .slick-next {
    left: 56%;
  }
  .slider-info .slick-prev {
    left: 48%;
  }
  .form__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form {
    max-height: 100%;
  }
  .form__item {
    width: 100%;
  }
  .footer__main {
    padding: 0;
  }
  .form-block:after {
    background-position: 60%;
    background-repeat: no-repeat;
  }
  .services-block__list li {
    width: 33%;
  }
  .info-item {
    min-width: 385px;
  }
}

@media screen and (max-width: 900px) {
  .portfolio__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio-info {
    position: relative;
  }
  .slider-portfolio {
    margin-left: calc(100% - 350px);
    width: 100%;
  }
  .portfolio-info__btn {
    display: none;
  }
  .portfolio-info__btn--mobile {
    display: block;
    margin-top: 35px;
  }
  .portfolio-item__info,
  .portfolio-item__img {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .header {
    padding: 15px 0;
  }
  .info {
    padding: 40px 0 0 0;
  }
  .services {
    padding: 60px 0 45px 0;
  }
  .portfolio {
    padding: 35px 0;
  }
  .portfolio-info__title {
    font-size: 18px;
    line-height: 24px;
  }
  .portfolio-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio-txt,
  .portfolio-list li span {
    font-size: 14px;
    line-height: 19px;
  }
  .portfolio-list li span:first-child {
    font-size: 24px;
    line-height: 33px;
  }
  .behind-item {
    position: absolute;
    bottom: 15px;
    width: 100%;
    max-width: 80%;
    padding-bottom: 25px;
  }
  .slider-info .slick-next {
    left: 80%;
  }
  .slider-info .slick-prev {
    left: 70%;
  }
  .info-item {
    margin-bottom: 215px;
    min-width: 325px;
    width: 100%;
  }
  .info-item .behind-logo {
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .behind-item .behind-logo {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .scrollup {
    display: none !important;
  }
  .about-us {
    padding: 60px 0 0 0;
  }
  .about-us__wrapper {
    padding: 0;
  }
  .our-team {
    top: -10px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .about-us__txt-block {
    padding: 25px 30px;
  }
  .platform {
    padding: 60px 0;
  }
  .contact {
    padding: 60px 0 0 0;
  }
  .contact .conteiner {
    padding: 0;
  }
  .contact__list {
    padding: 0 10px 30px 10px;
  }
  .platform__social-list li a svg {
    max-width: 36px;
    max-height: 36px;
  }
  .platform__social-list {
    padding: 40px;
  }
  .contact__list a {
    font-size: 16px;
    line-height: 22px;
  }
  .nav-list {
    position: absolute;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FBC715;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 40px 0;
    height: 100vh;
  }
  .nav-list--open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 250px 0;
    background-image: url(../images/home-mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .toggler {
    position: absolute;
    width: 40px;
    display: block;
    z-index: 10;
    right: 25px;
    top: 15px;
    cursor: pointer;
  }
  .toggler__icon {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    margin: 0;
  }
  .toggler__line {
    width: 40px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 19px;
    display: block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .toggler__line:before, .toggler__line:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #000000;
    top: -14px;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .toggler__line:after {
    top: auto;
    bottom: -14px;
  }
  .toggler__icon--open .toggler__line {
    background-color: transparent;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  .toggler__icon--open .toggler__line:before {
    -webkit-transform: rotate(45deg) translateY(20px);
    transform: rotate(45deg) translateY(20px);
  }
  .toggler__icon--open .toggler__line:after {
    -webkit-transform: rotate(-45deg) translateY(-20px);
    transform: rotate(-45deg) translateY(-20px);
  }
  .header__logo--open {
    position: absolute;
    top: 120px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .nav-list__item a {
    font-size: 21px;
    line-height: 28px;
  }
  .nav-list__item {
    margin-bottom: 35px;
  }
  .footer__wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin: 0 0 120px 0;
  }
  .footer__wrapper--col {
    position: absolute;
    top: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contacts {
    margin-bottom: 15px;
  }
  .footer__contacts li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contacts li a {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .our-team__list li {
    width: 50%;
  }
  section.home {
    background-position: bottom 75% center;
    background-size: 130%;
  }
}

@media screen and (max-width: 640px) {
  section.home {
    background-position: 80% 0%;
    background-size: 190%;
  }
  .contact__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__wrapper {
    width: 100%;
  }
  .contact__social {
    margin: 25px 0 0 0;
  }
  .call {
    display: block !important;
    position: absolute;
    right: 25px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .call:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .platform__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 25px;
    width: 100%;
  }
  .platform__social-list li,
  .platform__social-list li:last-of-type {
    width: 20%;
    margin: 0 0 25px 0;
  }
  .our-team__list li {
    min-width: auto;
  }
  .about-us__txt-block {
    margin-left: 15px;
    margin-right: 15px;
  }
  .services-block__list li {
    width: 50%;
  }
  .services-block__head {
    padding: 0;
    margin: 0 auto;
  }
  .services-block__head {
    text-align: center;
  }
  .services .conteiner {
    padding: 0;
  }
  .services-block__list {
    padding-right: 50px;
    padding-left: 50px;
  }
  .home__heading {
    padding-left: 25px;
  }
  .subtitle {
    position: relative;
    margin-bottom: 35px;
  }
  .subtitle:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 38px;
    height: 1px;
    background: #FFA000;
  }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-block:after {
    background-image: none;
  }
  .form-block .conteiner {
    padding-left: 50px;
    padding-right: 50px;
  }
  .info-item {
    min-width: auto;
  }
}

@media screen and (max-width: 575px) {
  section.home {
    background-size: 200%;
  }
}

@media screen and (max-width: 540px) {
  .conteiner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .home__sub {
    background-size: 100%;
  }
  .home__heading {
    padding-left: 65px;
  }
  .our-team__photo {
    width: 120px;
    height: 120px;
  }
  .our-team__photo img {
    width: 100%;
  }
  .services-block__list li a svg {
    width: 75px;
    height: 75px;
  }
  .services-block__list li a {
    font-size: 13px;
    line-height: 18px;
  }
  .slider-info .slick-prev {
    left: 65%;
  }
  .info-item__title {
    padding-right: 100px;
  }
}

@media screen and (max-width: 500px) {
  section.home {
    background-size: cover;
  }
}

@media screen and (max-width: 425px) {
  section.home {
    background-size: 170%;
  }
  .info .conteiner {
    padding: 0;
  }
  .home__heading h1 {
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 30px;
  }
  .home__heading p {
    font-size: 14px;
    line-height: 26px;
  }
  section.home {
    padding: 130px 0 0 0;
  }
  .social {
    top: 110px;
  }
  .home__nav li a {
    font-size: 15px;
    line-height: 20px;
  }
  .home__nav {
    margin: 0 20px;
  }
  .info-item__title {
    font-size: 17px;
    line-height: 23px;
    padding-right: 85px;
  }
  .info-item__list-name {
    font-size: 16px;
    line-height: 22px;
  }
  .info-item__list-inner li {
    font-size: 14px;
    line-height: 19px;
  }
  .call {
    right: 10px;
  }
  .slider-portfolio {
    margin-left: 10px;
  }
  .page__title {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 375px) {
  section.home {
    background-position: 80% 0%;
    background-size: 205%;
  }
  .platform__social-list {
    padding: 35px 20px 20px 20px;
  }
  .home__nav ul {
    margin: 0 10px;
  }
  .our-team {
    padding-right: 25px;
    padding-left: 25px;
  }
  .contact__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .contact__list {
    padding-bottom: 15px;
  }
  .contact__social li {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 360px) {
  section.home {
    background-size: 220%;
    background-position: 80% 20%;
  }
}

@media screen and (max-width: 320px) {
  section.home {
    background-size: 275%;
    background-position: 80% -20%;
  }
}
/*# sourceMappingURL=style.css.map */